* {
  padding: 0px;
  margin: 0px;
}

html {
  background: #fff;
  color: #333;
}

body {
  font-size: 14px;
  font-family: "Microsoft YaHei", Verdana, Arial, Helvetica, Tahoma;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  list-style-type: none;
}

input,
select,
button,
textarea {
  font-size: 14px;
  font-family: "Microsoft YaHei", Verdana, Arial, Helvetica, Tahoma;
  vertical-align: middle;
}

img {
  border: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* */

.clickable {
  color: #007fff;
  cursor: pointer;
}

.el-message-box {
  width: 420px;
  max-width: 80%;
}

.el-message {
  width: 360px;
  min-width: 0px;
  max-width: 80%;
}

.el-menu--collapse{
  max-width: 100%;
}